{{ define "contact" }}
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>İLETİŞİM</h2>

  </div>
    <div class="row mt-1">
      <div class="col-lg-4">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Konum:</h4>
            <p>A108 Adam Street, New York, NY 535022</p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>info@example.com</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Telefon:</h4>
            <p>+1 5589 55488 55s</p>
          </div>
        </div>
      </div>

      <div class="col-lg-8 d-flex justify-content-end">
        <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2519.147040024665!2d36.253021112706!3d41.335232152228315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x408879d45e85aff9%3A0x339ff36b4165b1a5!2sMM%20Migros!5e0!3m2!1str!2sus!4v1671270959921!5m2!1str!2sus"
                width="600"
                height="300"
                style="
                  border:2px solid #0563bb;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>
  </div>

</section><!-- End Contact Section -->
{{ end }}