{{ define "footer" }}
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <h3>Furkan Sade Uckun</h3>
        <p>Sadece Sade!</p>
        <div class="social-links">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="https://github.com/furkansade" class="github"><i class="bx bxl-github"></i></a>
            <a href="https://linkedin.com/in/furkansadeuckun" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
        <div class="copyright">
            &copy; Copyright <strong><span>Sade!</span></strong>
        </div>
    </div>
</footer><!-- End Footer -->
{{ end }}