{{ define "content" }}
<h2>
  Edit Repository!
  <a href="/admin" class="btn btn-outline-primary float-right"><i class="fa fa-arrow-left"></i> Go back!</a>
</h2>
<hr>

<form action="/admin/update/{{ .Repo.ID }}" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label>Repository Title</label>
    <input type="text" name="repo-title" class="form-control" value="{{ .Repo.Title }}">
  </div>

  <div class="form-group">
    <label>Repository Description</label>
    <input type="text" name="repo-desc" class="form-control" value="{{ .Repo.Description }}">
  </div>

  <div class="form-group">
    <label>Repository URL</label>
    <input type="text" name="repo-url" class="form-control" value="{{ .Repo.Repo_Url }}">
  </div>

  <div class="form-group">
    <label>Icon</label>
    <input type="text" name="repo-icons" class="form-control" value="{{ .Repo.Icon }}">
  </div>

  <button type="submit" class="btn btn-outline-success w-100 my-3">Edit!</button>

</form>

{{ end }}