{{ define "content" }}


  <h2>
    Certificates!
    <a href="/admin/new-certificate" class="btn btn-outline-primary float-right"><i class="fa fa-plus"></i> New Certificate!</a>
  </h2>
<hr>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Filter</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {{ range $index, $value := .Certificates }}
    <tr>
      <th scope="row">{{ $value.ID }}</th>
      <td><img width="80px" src="/{{ $value.Picture_url }}" alt=""></td>
      <td>{{ $value.Title }}</td>
      <td>{{ $value.Description }}</td>
      <td>{{ $value.Filter }}</td>
      <td>
        <a href="#" class="btn btn-outline-warning"><i class="fa fa-pen"></i></a>
        <a href="/admin/certificate/delete/{{ $value.ID }}" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
      </td>
    </tr>
    {{ end }}
    </tbody>
  </table>


{{ end }}